#clients
  background: #ECECEA
  padding: 60px 0

  #messages
    margin: 20px 0

  p
    display: inline-block
    font-size: 17px
    font-weight: 100
    margin: 10px 0
    width: 100%

  #clients-list
    margin: 30px auto 20px
    width: 70%

    .icon
      margin: 0 auto

    #instafit_logo
      background-position: 0 920px
      height: 100px
      width: 140px

    #refundo_logo
      background-position: -21px 389px
      height: 97px
      width: 124px

    #posadas_logo
      background-position: 0 636px
      height: 23px
      margin: 40px auto 0
      width: 160px

@media only screen and (max-width: 995px)
  #clients
    #clients-list
      width: 100%

      .col
        display: inline-block
        width: 30%

@media only screen and (max-width: 500px)
  #clients
    #clients-list
      .col
        width: 100%

      #posadas_logo
        margin: 40px auto

      #refundo_logo
        margin: 30px auto 0

@media only screen and (max-width: 320px)
  #clients
    #messages
      margin: 20px auto
      width: 200px
