@import 'variables'

#contact_us
  background: white
  padding: 35px

  #social-links
    display: inline-block
    margin: 45px auto
    width: 60%

    a
      display: inline-block


  #email-contact
    background: url('../images/mail_contact.png')
    background-size: contain
    height: 58px
    width: 80px

  #twitter-contact
    background: url('../images/twitter_contact.png')
    background-size: contain
    height: 65px
    width: 80px

  #github-contact
    background: url('../images/github_contact.png')
    background-size: contain
    height: 70px
    width: 91px

  #facebook-contact
    background: url('../images/facebook_contact.png')
    background-size: contain
    height: 62px
    width: 30px

  #phone-contact
    text-align: right
    a
      color: $grey_dark
      font-size: 15px
      font-weight: 100

      p
        display: inline-block
        margin: 0
