body
  background: #262626 url('../images/background.png')
  display: block
  font-family: Lato, sans-serif
  text-align: center

#main-wrapper
  display: block
  margin: 0 auto
  max-width: 1200px
  width: 100%

.col
  padding: 0

.row
  margin: 0

.main-section
  display: block
  width: 100%

.section-title
  font-size: 40px
  font-weight: 700
  text-transform: uppercase
