body
  background: #ECECEA
  display: block
  font-family: Lato, sans-serif
  width: 100%

#main-wrapper
  display: block
  margin: 0 auto
  max-width: 1200px
  width: 100%

body 
  background: #d4d4d4 url('../images/background.png')
  text-align: center
  font-family: sans-serif

h1
  color: rgba(0, 0, 0, .3)
  font-weight: bold
  font-size: 32px
  letter-spacing: -1px
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5)
  background: url('../images/middleman.png') no-repeat center 100px
  padding: 350px 0 10px
  margin: 0

.col
  padding: 0
