
@import 'variables'

body
  background: #262626
  display: block
  font-family: Lato, sans-serif
  text-align: center

.col
  padding: 0

.row
  margin: 0

.section-container
  display: inline-block
  margin: 0 auto
  max-width: $max_width
  width: 100%

.section-title
  font-size: 40px
  font-weight: 700
  text-transform: uppercase

.icon
  background: image-url('icons-s2fd946ace2.png')

.stuck
  position: fixed
  top: 0
