#header
  background: url('../images/background_home.png')
  height: 645px
  padding: 30px

  .social-section
    display: inline-block
    width: 100%

  .telephone-section
    line-height: 15px
    text-align: left

    a
      color: white
      display: inline-block

      span
        float: left
        margin: 0 5px 0 0

      p
        float: left
        font-size: 16px
        font-weight: 300
        margin: 0

      p
        float: left
        margin: 0

      .icon.telephone
        background: url('../images/mail_home.png')
        background-size: contain
        float: left
        height: 16px
        margin: 0 10px 0 0
        width: 20px

  .social-links
    text-align: right

    ul
      display: inline-block
      list-style: none
      margin: 0
      padding: 0

    li
      float: left
      margin: 0 5px

    .icon.email
      background: url('../images/mail_home.png')
      background-size: contain
      height: 16px
      width: 20px

    .icon.twitter
      background: url('../images/twitter_home.png')
      background-size: contain
      height: 16px
      width: 20px

    .icon.github
      background: url('../images/github_home.png')
      background-size: contain
      height: 15px
      width: 20px

    .icon.facebook
      background: url('../images/facebook_home.png')
      background-size: contain
      height: 16px
      width: 8px

  .company-logo
    background: url('../images/logo_devgile_home.png')
    display: block
    height: 174px
    margin: 160px auto 120px
    width: 400px

  .legend-about
    color: white
    font-size: 20px
    font-weight: 100
    margin: 0 18%
    text-align: center
