@import 'variables'

#main-menu
  background: black
  height: 50px
  position: fixed
  top: 0
  width: 100%
  z-index: 2

  #menu-container
    a
      color: white
      font-size: 15px
      font-weight: 100
      height: 50px
      padding: 15px
      text-transform: uppercase
      text-align: center

      &:hover, &.active
        background: $grey_dark
        text-decoration: none
