#clients.main-section
  .section-container
    .section-title Clients
    #messages
      %p We enjoy working whit all kind of projects!
      %p From e-Commerce stores to custom-made Web or Mobile apps.
    #clients-list
      .row
        .col.col-md-4
          #posadas_logo.icon
        .col.col-md-4
          #instafit_logo.icon
        .col.col-md-4
          #refundo_logo.icon
