#clients.main-section
  .section-title Clients
  #messages
    %p We enjoy working whit all kind of projects!
    %p From e-Commerce stores to custom-made Web or Mobile apps.
  #clients-list
    .row
      .col.col-md-4
        = image_tag('../images/posadas_logo.png', :id => 'posadas_logo')
      .col.col-md-4
        = image_tag('../images/instafit_logo.png', :id => 'instafit_logo')
      .col.col-md-4
        = image_tag('../images/refundo_logo.png', :id => 'refundo_logo')
