#header.main-section.section
  .section-container
    .company-logo

    %p.legend-about
      We are a Web and Mobile apps development boutique, with experience in
      Ruby on Rails, JavaScript and Android.

