#main-menu.main-section
  .section-container
    .row
      #menu-container.col-md-6.col-md-offset-3
        .row
          = link_to('About us', '/about_us', :class => 'col col-md-3', :id => 'menu-about_us')
          = link_to('Clients', '/clients', :class => 'col col-md-3', :id => 'menu-clients')
          = link_to('Technology', '/technologies', :class => 'col col-md-3', :id => 'menu-technologies')
          = link_to('Contact', '/contact_us', :class => 'col col-md-3', :id => 'menu-contact_us')
