#main-menu.main-section
  .row
    #menu-container.col-md-6.col-md-offset-3
      .row
        = link_to('About us', '#', :class => 'col col-md-3')
        = link_to('Clients', '#', :class => 'col col-md-3')
        = link_to('Technology', '#', :class => 'col col-md-3')
        = link_to('Contact', '#', :class => 'col col-md-3')
