#technologies.main-section
  .section-title Technology stack
  #technologies-list
    .row
      .col.col-md-3
        .stack-item.cucumber
      .col.col-md-3
        .stack-item.ruby
      .col.col-md-3
        .stack-item.android
      .col.col-md-3
        .stack-item.postgres
    .row
      .col.col-md-4
        .stack-item.boostrap
      .col.col-md-4
        .stack-item.rails
      .col.col-md-4
        .stack-item.backbone
    .row
      .col.col-md-6
        .stack-item.ruby-motion
      .col.col-md-6
        .stack-item.mysql
    .row
      .col.col-md-12
        .stack-item.heroku
